<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Consulta</title>
</head>
<body>
<h1>Formulário de Consulta</h1>
<form action="/consulta" method="post">
    <input type="hidden" name="token" value="{token}" />

    <label for="gtin">GTIN:</label>
    <input type="text" id="gtin" name="gtin" value="8410221110150" required /><br/><br/>

    <label for="longitude">Longitude:</label>
    <input type="number" step="any" id="longitude" name="longitude" value="-51.1062926" required /><br/><br/>

    <label for="latitude">Latitude:</label>
    <input type="number" step="any" id="latitude" name="latitude" value="-30.0668232" required /><br/><br/>

    <label for="nroKmDistancia">NroKmDistancia:</label>
    <input type="number" id="nroKmDistancia" name="nroKmDistancia" value="10" required /><br/><br/>

    <label for="nroDiaPrz">NroDiaPrz:</label>
    <input type="number" id="nroDiaPrz" name="nroDiaPrz" value="3" required /><br/><br/>

    <button type="submit">Enviar</button>
</form>
</body>
</html>
